body {
margin: 0;
font-family: "Segoe UI", Tahoma, sans-serif;
background: linear-gradient(135deg, #ffd6e8, #ffeaf4);
color: #5a2a42;
text-align: center;
}
header {
padding: 40px 20px;
background-color: #ff9acb;
color: white;
}
header h1 { font-size: 2.5rem; }
.container { padding: 30px 20px; max-width: 1100px; margin: auto; }


.mom-photo img {
width: 240px; height: 240px; object-fit: cover;
border-radius: 50%; border: 8px solid #ff9acb;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.Famil-photo img {
width: 240px; height: 240px; object-fit: cover;
border-radius: 50%; border: 8px solid #8e55f9;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.Da-photo img {
width: 240px; height: 240px; object-fit: cover;
border-radius: 50%; border: 8px solid #8e55f9;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.anc-photo img {
width: 240px; height: 240px; object-fit: cover;
border-radius: 50%; border: 8px solid #8e55f9;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}





.message {
background: white; border-radius: 20px;
padding: 25px; margin: 30px 0;
box-shadow: 0 6px 15px rgba(0,0,0,0.1);
font-size: 1.1rem; line-height: 1.8;
}


/* เกมไพ่ยิปซี */
.game {
margin-top: 40px;
background: #fff;
border-radius: 25px;
padding: 30px;
box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}


.cards {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
margin-top: 20px;
}


.card {
width: 180px;
height: 260px;
background: linear-gradient(135deg, #FB6F92, #ffb6d9);
border-radius: 20px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.2rem;
color: white;
font-weight: bold;
transition: transform 0.3s;
}


.card:hover { transform: scale(1.05); }


.result {
margin-top: 30px;
font-size: 1.3rem;
color: #080205;
font-weight: bold;
}


footer {
margin-top: 40px;
padding: 20px;
background-color: #ff9acb;
color: white;
}